@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Outfit;
}

select, input, textarea{
  border: 2px solid #c2c2c2;
  outline-color: rgb(49, 51, 51);
  border-radius: 8px;
}

.active {
  background-color: #ade5ff67;
  border-color: #1d1c1c;
  border-width: 2px;
  border-right: 0;
}
